{% block flash %}
	<div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
		<h4 class="alert-heading">{{ type|upper }}</h4>
		<p>{{ message }}</p>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{% endblock %}
